<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
<!-- The config file limits log output to the INFO log level, discarding the DEBUG and 
     TRACE log records emitted by the Testcontainers library. -->
